.profile-container {
  display: flex;
  padding: 30px;
  gap: 30px;
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.profile-card {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.profile-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-pic {
  background-image: url("/public/user.png");
  background-size: cover;
  border-radius: 50%;
  border: 3px solid rgb(247, 247, 247);
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
}

.edit-profile,
.change-password {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.form-section {
  display: flex;
  align-items: center;
  margin: 10px;
}

.form-section label {
  flex-basis: 20%; /* Adjust as needed */
  text-align: left;
}

.form-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.save-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.save-button:hover {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-card,
  .profile-form {
    width: 100%;
  }

  .form-section {
    flex-direction: column;
    gap: 5px;
  }

  .form-section label {
    flex-basis: auto;
    text-align: left;
  }

  .form-section input {
    width: 100%; /* full width on small screens */
  }
}
