body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h3 {
  margin-top: 30px;
  font-weight: 600;
}

#msform {
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}

#progressbar {
  margin: 0 auto;
  width: 50%;
}

#msform fieldset {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 30px 10px;
  width: 70%;
  border-radius: 25px;
  margin: 0 auto;
  min-height: 320px; /* Adjust based on your content's needs */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top */
  text-align: center;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ebe5e5;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 30px;
}

#msform input:focus,
#msform textarea:focus {
  border: 1px solid black;
  outline-width: 0;
  transition: all 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 120px;
  background: black;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

/*headings*/
.fs-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

.fs-subtitle {
  font-weight: 500;
  font-size: 16px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  text-align: center;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: black;
  color: white;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}

.confirmation-message {
  margin: 50px;
}
.trashdetailsh5{
  text-align: center;
}
