.loginForm {
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 20px;
    width: 100%;
  }
  
  .loginForm p {
    font-size: small;
  }
  
  .loginForm input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 2px solid #d7d7d7;
  }
  
  .login-btn {
    background-color: #000000;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px 0px;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #313131;
  }
  
  .error-message {
    margin-top: 0px;
    color: red;
  }
  .passwod-container {
    position: relative; /* Set the container position to relative */
  }
  
  .passwod-container input[type="password"] {
    padding-right: 20px; /* Add padding to the right for the image */
  }
  
 
  
  