.loginForm {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}

.loginForm p {
  font-size: small;
}

.loginForm input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 2px solid #d7d7d7;
}

.login-btn {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 20px 0px;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
}

.loginForm form .login-btn:hover {
  background-color: #313131;
}
